@charset "utf-8";
/* Basic Styling for index.jsp -- CSS Document */


body {
	margin:0;
	padding:0;
}

.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav
{
	border-color:#003;
}

.yui-skin-sam .yui-layout { 
	background-color: #003; 
	text-align: left;
} 

.yui-skin-sam .yui-layout .yui-resize-proxy div { 
	background-color: #003;
}

.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd {
	background-color: #003;
}

#leftMenu.yui-skin-sam .yui-layout .yui-layout-hd
{ 
	background: url('./assets/toolbar-hd.gif') repeat-x 0 -1400px;
}
.yui-layout-unit-left {
	background-color: #003;
}

.leftMenuTitle {
	background-color: #003;
	color: #FF0;
	text-align: center;
	height: 100%;		
}

#centerArea, #map {	
	height: 100%;
}


#leftEventCalendar {
	color: #000;	
}


/* Accordion Left Menu */
.accordion-menu {
	margin: 0;
	padding: 0;
	background: #003;
}

dl.accordion-menu {
	margin: 0;
	padding: 0;
	background: #003;
	display: block;
	visibility: visible;
}

dl.accordion-menu dt.a-m-t {
	margin: 0;
	background: #003;
	padding: 0.3em 1em;
	color: #FF0;
	border: solid 1px #009;
	border-left-color: #009;
	border-top-color: #009;
	font-weight:800;
}

dl.accordion-menu dt.a-m-t-hover{
	background: #006;
}

dl.accordion-menu dt.a-m-t-down{
	border: solid 1px #009;
	border-right-color: #009;
	border-bottom-color: #009;
}

html.accordion-menu-js dt.a-m-t{
	cursor:pointer;
	zoom:1;
}

dl.accordion-menu dd.a-m-d {
	margin: 0;
	padding: 0;
	padding:0;
}

html.accordion-menu-js dd.a-m-d{
	display:none;
}


html.accordion-menu-js dd.a-m-d-expand {
	display:block;
}

html.accordion-menu-js dd.a-m-d-before-expand {
	display:block;
	position:relative;
	z-index:-1;
	opacity:0;
	height:auto !important;
	visibility:hidden;
	overflow:visible;
}

html.accordion-menu-js dt.a-m-t-expand {
	border-left-color:#009;
	color: #FF0;
	background:#039;
	font-weight:800;
}

html.accordion-menu-js dd.a-m-d-anim {
	overflow:hidden;
	display:block;  
}

dl.accordion-menu dd.a-m-d .bd{
	padding:0.5em;
	border:Solid 1px #009;
}

#eventListTabArea, #routeListTabArea {
	color: black;
	text-align: left;
}


/* For template by architecture team */

div.archHeader {
	margin:0;
	min-width:960px;
	width:100%;
	background-color:#011F5B;
	height:auto;
}

table.top
{
    width:100%;
    height:72px;         
}

table.top td
{
    font-family:Andalus;    
    color:White;        
}

table.top td.im
{
    font-family:Andalus;    
    color:White;
    width:200px;       
}

table.top td.appname
{
    font-family:Andalus;    
    color:#AE94FC;
    font-size:xx-large;
    font-weight:bold;    
}

table.top td.links
{
    font-family:Andalus;    
    color:white;
    width:400px;     
}

a.link
{
    color:White;
    text-decoration:none;
}


a.link2
{
   color:#3333FF;
}

a.image
{
    color:#011F5B;
    text-decoration:none;
}


div.archFooter
{
    width:100%;
    background-color:#011F5B;
    min-width:960px;
    height:20px;  
    color:White;
    
}

table.bottom
{
    width:100%;
         
}

table.bottom td.on
{
   background-color:#3333FF;
   height:20px;
}

table.bottom td.off
{
   background-color:Transparent;
    
}

a.ft
{
    color:White;
    font-size:small;
    text-decoration:none;
    font-family:Andalus;
}

a.ft2
{
   color:#3333FF;
   font-size:small;
   text-decoration:none;
   font-family:Andalus;
}

td.spacing
{
    color:White;
    font-size:small;
    font-family:Andalus;
}
