div.overlayOne ul.yui-nav{
	width:100%;
}

div.overlayOne div.yui-content{
	height:400px;
	Scroll:{by:[0,200]};
}

#modifyUserGender, #modifyUserEmail, #modifyUserPassword, #modifyUserWeight, #modifyUserHeight, #modifyUserName, #modifyUserNotified, #savePersonalInfoBtns {
	display:none;
}
div.overlayOne div.yui-content div.GroupInfo {
	margin:5px;
}
div.overlayOne div.yui-content div.GroupInfo div.yui-content {
	height:350px;
}
div.overlayOne div.yui-content div.GroupInfo div.yui-content div.myGroups div.myGroupList{
	margin:5px;
}
div.overlayOne div.yui-content div.GroupInfo div.yui-content div.createdGroups div.createdGroupList{
	margin:5px;
}
div.overlayOne div.yui-content div.GroupInfo div.yui-content div.creatAGroup{
	margin:5px;
}
div.overlayOne div.yui-content div.EventInfo {
	margin:5px;
}
div.overlayOne div.yui-content div.RouteInfoList {
	margin:5px;
}
div.overlayTwo{
	top:0;
	left:0;

}
div.overlayTwo ul.yui-nav{
	width:100%;
}

div.overlayTwo div.yui-content{
	height:400px;
}
div.overlayTwo div.yui-content div.eventSearch{
	margin:5px;
}
div.overlayTwo div.yui-content div.groupSearch{
	margin:5px;
}
div.overlayTwo div.yui-content div.routeSearch{
	margin:5px;
}
.desctText{
	position : absolute;
	top : 400;
	left : 300px;
	color:yellow;
}


#panel1 {
	width:800px;
	height:400px;
	background: #D5DDF2;
}
#panel2 {
	width:800px;
	height:400px;
	background: #D5DDF2;
}

div.RouteResultItem {
	margin: 10px;

}

#myGroupList{
	width: 50%;
}

#myGroupDetail{
	float: left;
	width: 50%;
}

#svArea {
	height: 300px;
	background-color: #CCCCCC;
	text-align: center;
}
#svControllers {
	background-color: #CCCCCC;
	padding: 5px;
	line-height: 25px;
	text-align:center;
}

#VTbd {
	padding: 0px;
}

#vtPrepareBtn {
	height: 50px;
	vertical-align: middle;
}

#panel1.yui-panel .container-close 
{
	position: absolute;
	top: 3px;
	right: 4px;
	height: 18px;
	width: 17px;
	background: transparent url(../assets/hd-closeBtn.gif) repeat scroll 0 0
}

#panel1.yui-panel .hd
{
	background: url('../assets/search-hd.gif') no-repeat;
	text-align: center;
	color: rgb(229,238,245);
	font-weight: 700;
}

#panel1.yui-module .ft
{
	background: #003;
}

#panel2.yui-panel .container-close 
{
	position: absolute;
	top: 3px;
	right: 4px;
	height: 18px;
	width: 17px;
	background: transparent url(../assets/hd-closeBtn.gif) repeat scroll 0 0
}

#panel2.yui-panel .hd
{
	background: url('../assets/search-hd.gif') no-repeat;
	text-align: center;
	color: rgb(229,238,245);
	font-weight: 700;
}

#panel2.yui-module .ft
{
	background: #003;
}

/*
.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
	background:#000033 none repeat scroll 0 0;
}

.yui-skin-sam .yui-panel .hd {
	background:transparent url(../assets/toolbar-hd.gif) repeat scroll 0 0;
	border-bottom:0px;
}
*/
