<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>cis550</display-name>

  <!-- Declare the existence of a servlet. -->

  <servlet>
    <servlet-name>RouteMgmtServlet</servlet-name>
    <servlet-class>model.RouteMgmtServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupSaveServlet</servlet-name>
    <servlet-class>model.GroupSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupRegisterServlet</servlet-name>
    <servlet-class>model.GroupRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EventSaveServlet</servlet-name>
    <servlet-class>model.EventSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>model.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>model.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EventSearchServlet</servlet-name>
    <servlet-class>model.EventSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RouteSearchServlet</servlet-name>
    <servlet-class>model.RouteSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupSearchServlet</servlet-name>
    <servlet-class>model.GroupSearchServlet</servlet-class>
  </servlet>


  <!-- Map URLs to that servlet. -->

  <servlet-mapping>
    <servlet-name>RouteMgmtServlet</servlet-name>
    <url-pattern>/mgRoute.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupSaveServlet</servlet-name>
    <url-pattern>/saveGroup.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupRegisterServlet</servlet-name>
    <url-pattern>/joinGroup.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventSaveServlet</servlet-name>
    <url-pattern>/saveEvent.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/loginUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/registerUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventSearchServlet</servlet-name>
    <url-pattern>/searchEvent.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RouteSearchServlet</servlet-name>
    <url-pattern>/searchRoute.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupSearchServlet</servlet-name>
    <url-pattern>/searchGroup.do</url-pattern>
  </servlet-mapping>
 
</web-app>