<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>cis550</display-name>

  <!-- Declare the existence of a servlet. -->

  <servlet>
    <servlet-name>RouteMgmtServlet</servlet-name>
    <servlet-class>model.RouteMgmtServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupMgmtServlet</servlet-name>
    <servlet-class>model.GroupMgmtServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupRegMgmtServlet</servlet-name>
    <servlet-class>model.GroupRegMgmtServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EventMgmtServlet</servlet-name>
    <servlet-class>model.EventMgmtServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>model.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserModifyServlet</servlet-name>
    <servlet-class>model.UserModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>model.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EventSearchServlet</servlet-name>
    <servlet-class>model.EventSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RouteSearchServlet</servlet-name>
    <servlet-class>model.RouteSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupSearchServlet</servlet-name>
    <servlet-class>model.GroupSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EventListByRouteServlet</servlet-name>
    <servlet-class>model.EventListByRouteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RouteRateServlet</servlet-name>
    <servlet-class>model.RouteRateServlet</servlet-class>
  </servlet>

  <!-- Map URLs to that servlet. -->

  <servlet-mapping>
    <servlet-name>RouteMgmtServlet</servlet-name>
    <url-pattern>/mgRoute.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupMgmtServlet</servlet-name>
    <url-pattern>/mgGroup.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupRegMgmtServlet</servlet-name>
    <url-pattern>/mgGroupReg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventMgmtServlet</servlet-name>
    <url-pattern>/mgEvent.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/loginUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserModifyServlet</servlet-name>
    <url-pattern>/modifyUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/registerUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventSearchServlet</servlet-name>
    <url-pattern>/searchEvent.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RouteSearchServlet</servlet-name>
    <url-pattern>/searchRoute.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>GroupSearchServlet</servlet-name>
    <url-pattern>/searchGroup.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>  
  <servlet-name>EventListByRouteServlet</servlet-name>
    <url-pattern>/routeEvents.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>  
  <servlet-name>RouteRateServlet</servlet-name>
    <url-pattern>/rateRoute.do</url-pattern>
  </servlet-mapping>
</web-app>