<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>SPAM Sample Website</title>
    <link rel="Stylesheet" href="ss.css" type="text/css"/>
</head>
<body>
    
    <div class="outside">
        
      <div class="header">
        <table class="top">
            <tr>
            <td class="im"><a class="image" href="http://spam.seas.upenn.edu/home/index.htm">
            <img src="spamlogo.png" alt="SPAM Home"/></a>
            </td>
          
            <td class="appname" align="center" valign="middle">Application Name</td>
              
            <td align=right valign=top class="links"> 
            <a class="link" onmouseover="this.className='link2'" onmouseout="this.className='link'" href="http://spam.seas.upenn.edu/home/index.htm"> Penn Fitness </a> | 
            <a class="link" onmouseover="this.className='link2'" onmouseout="this.className='link'" href="http://spam.seas.upenn.edu/home/index.htm"> Penn CISRS </a> | 
            <a class="link" onmouseover="this.className='link2'" onmouseout="this.className='link'" href="http://spam.seas.upenn.edu/home/index.htm"> Penn Chingu </a> | 
            <a class="link" onmouseover="this.className='link2'" onmouseout="this.className='link'" href="http://spam.seas.upenn.edu/home/index.htm"> Older SPAM </a> 
            </td>
            </tr>            
        </table>
      </div>
    
       
   
      <div class="main">
         YOUR CODE HERE
      </div>
     
   
      <div class="footer">
        <table class="bottom" >
        
        <tr align="center">
        
        <td class="spacing" align="left">Copyright © System for Penn Active Maps</td>
        <td></td><td></td>
        <td align = "right">
        <a class="ft" onmouseover="this.className='ft2'" onmouseout="this.className='ft'" href="http://spam.seas.upenn.edu/about">About</a> | 
        <a class="ft" onmouseover="this.className='ft2'" onmouseout="this.className='ft'" href="http://www.upenn.edu/privacy/">Privacy</a> | 
        <a class="ft" onmouseover="this.className='ft2'" onmouseout="this.className='ft'" href="http://www.upenn.edu/about/disclaimer.php">Disclaimer</a> | 
        <a class="ft" onmouseover="this.className='ft2'" onmouseout="this.className='ft'" href="http://www.upenn.edu/">Penn Home</a> | 
        <a class="ft" onmouseover="this.className='ft2'" onmouseout="this.className='ft'" href="http://www.cis.upenn.edu/">CIS Home</a>
        </td>
              
        </tr>
        </table>
      </div>    
        
    
</div>
    
   
</body>
</html>
