
/* Stylesheet for user registration */



#userRegDialog label { display:block;float:left;width:45%;clear:left; }

.clear { clear:both; }

#user a {
	padding: 0 10px 10px 0;
	margin-left: 5px;
}

#showbtns a {
	padding: 0 10px 10px 0;
}
#topMenuBar {
	background-color: #D5DDF2;
	text-align: right;
	padding-top: 6px;
	padding-bottom: 6px;
}

#userRegDialog.yui-panel .container-close 
{
	position: absolute;
	top: 3px;
	right: 4px;
	height: 18px;
	width: 17px;
	background: url('../assets/hd-closeBtn.gif'); 
}

#userRegDialog.yui-module .yui-overlay .yui-panel, #userRegDialog.yui-panel .hd, #userRegDialog.yui-panel .bd, #userRegDialog.yui-panel .ft
{
	background: #003;
	color: #FFFE02;
	border: 1px solid #003;	
}

#userRegDialog.yui-panel .hd
{
	background: url('../assets/eventDetails-hd.gif') no-repeat;
	text-align: center;
	color: rgb(229,238,245);
	font-weight: 700;
}

#userRegDialog.yui-module .ft
{
	background: #003;
}